.section {
  height: 100vh;
  background-color: $primaryColor;
  padding-top: 30vh;
  padding-bottom: 30vh;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__textContainer {
    margin-bottom: 100px;
    min-width: 400px;
    margin-right: 63px;
  }

  &__imageContainer {
  }

  &__h1 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 75px;
    max-width: 392px;
    line-height: 96.3px;
    color: #fff;
  }
  &__p {
    margin-bottom: 60px;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
  }
  &__try {
    margin-right: 36px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
  &__free {
    padding: 12 33px !important;
    border: 1px solid #fff !important;
    background-color: transparent !important;
    color: #fff !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }
  }
}
